@use "../utilities/flow" as *;

section {
  position: relative;
  border-radius: 15px;
  padding: 1.5rem;
  padding-bottom: 2rem;
  @include flex(1rem, column, space-around, flex-start);
  & > h1 {
    margin-bottom: 2rem;
  }
  .graph {
    width: 100%;
    @include flex(1rem, row, space-between, flex-end);
    text-align: center;
    div {
      margin-bottom: 0.5rem;
    }
  }
  .bar {
    width: clamp(2rem, 2.25vw, 4rem);
    border-radius: 5px;
  }
  .break {
    width: 100%;
    height: 2px;
    margin: 0 auto;
  }
  .summary {
    @include flex(1rem, row, space-between, center);
    text-align: right;
    div {
      position: absolute;
      right: 1.5rem;
    }
  }
}
