@use "../utilities/flow" as *;

section {
  background-color: #000000;
  color: #fff;
  position: relative;
  border-radius: 15px;
  padding: 1.5rem;
  padding-bottom: 2rem;
  @include flex(1rem, column, space-around, flex-start);
  & > h1 {
    margin-bottom: 2rem;
  }
  #title {
    font-size: 2.3rem;
  }
  

  .graph {
    height: 12rem;
    width: 100%;
    @include flex(1rem, row, space-between, flex-end);
    text-align: center;
    div {
      margin-bottom: 0.5rem;
    }
  }
  .stat  { 
    cursor: pointer;
    p:first-child {
      visibility: hidden;
    }
    &:hover {
      filter: brightness(90%);
      transform: scale(1.08);
      p:first-child {
        visibility: visible;
      }
    }
  }
  .bar {
    width: clamp(2rem, 2.25vw, 4rem);
    border-radius: 5px;
    border: 0.2rem solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 1rem #76b5bc,
    0 0 0.8rem #76b5bc,
    0 0 2.8rem #76b5bc,
    inset 0 0 0.3rem #76b5bc;
  }
  .break {
    width: 100%;
    height: 2px;
    margin: 0 auto;
  }
  .summary {
    @include flex(1rem, row, space-between, center);
    text-align: right;
    div {
      position: absolute;
      right: 1.5rem;
    }
  }

  border-radius: 2rem;
  
}
